.u-section-1 {
  background-image: linear-gradient(white, #fcdadb);
}

.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: linear-gradient(#f5f7fa, #e0e5eb);
  margin: 65px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 673px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 40px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 207px 2px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 673px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 561px;
  height: 561px;
  background-image: url("images/6ea1e432c7b2799a94a5edaf54b119b2d3c27596d62546337bb15b03f18711dbcf1780808717cf43b7019f442d00d3a88d78b76a761b760cc8782d_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    width: 473px;
    height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 446px;
    height: 446px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 49px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
    width: 295px;
  }
}.u-section-2 {
  background-image: linear-gradient(#fcdadb, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 648px;
}

.u-section-2 .u-list-1 {
  width: 1120px;
  margin: 100px 0 60px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 376px;
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  grid-auto-columns: calc(33.3333% - 14.6667px);
}

.u-section-2 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  width: 139px;
  height: 139px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }

  .u-section-2 .u-icon-1 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-icon-6 {
    color: rgb(71, 138, 201) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-columns: calc(50% - 11.000025px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 306px;
    margin-top: 121px;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 345px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 1px;
  }

  .u-section-2 .u-gallery-nav-1 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-gallery-nav-2 {
    width: 20px;
    height: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 410px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -128px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 172px 30px 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 49px auto 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-3 .u-layout-cell-2 {
    margin-top: 0;
    min-height: 444px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 292px;
    margin-top: -125px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 80px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 28px;
    margin-left: 10px;
  }
}